- var breakpoints = locals.breakpoints

header.styleguide-header
  span.toggle-sidebar Menu |
  span.styleguide-meta #{locals.clientName} Styleguide - v.#{locals.version} | #{locals.date}
  nav.styleguide-header-breakpoints
    ul
      li Sizes:
      each breakpoint in breakpoints
        li
          a(class='breakpoint-toggle-#{breakpoint.id}', data-breakpoint-size=breakpoint.id)
