h2.styleguide-module__title=name
div(id=id)
  each row in items.rows
    .row
      if row.videos
        - var count = row.videos.length
        each video in row.videos
          div(class="columns-#{count}")
            figure.aspect.video
              a(href="#{video.url}", class="video-player")
              img(src="", class="video-thumb")
              .play-button
      if row.images
        - var count = row.images.length
        each image in row.images
          div(class="columns-#{count}")
            img(src="#{image.src}")
