h2.styleguide-module__title=name
if items.intro
	each paragraph in items.intro
		p.styleguide-module__paragraph!=paragraph
.titles
	each font in items.fonts
		- var heading = '<h' + font.heading + ' class="' + font.className + '" contenteditable="true">' + font.title + '</h' + font.heading + '>'
		span.styleguide-module__title--light #{font.fontName} - #{font.fontSize}
		!{heading}
br
h5.styleguide-module__title--small=items.paragraphsName
each paragraph in items.paragraphs
	span.styleguide-module__title--light #{paragraph.fontName} - #{paragraph.fontSize}
	p(class=paragraph.className contenteditable="true")=paragraph.text
