h2.styleguide-module__title=name
each paragraph in items.intro
  p.styleguide-module__paragraph!=paragraph

ul(id=id)
  each color in items.colors
    li
      div(class="color #{color.className}")
      p.default .#{color.className}
      p.designer
        strong #{color.name}
        br
        | #{color.rgb}
        br
        | #{color.hex}
        br
        | .#{color.className}
      p.minimal
        | #{color.hex}
